
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial;
  font-size: 30px;
  color: white;
  text-align: center;
}
.calculator-body{
  margin-top: 50px;
  border: solid 10px gold;
  width: 500px;
}
.number-button {
  font-family: Arial;
  font-size: 26px;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color:rgb(51, 51, 51);
  border: none;
}
.number-button1 {
  font-size: 17px;
  font-family: Arial;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color:rgb(51, 51, 51);
  border: none;
}
.number-button2 {
  font-size: 17px;
  font-family: Arial;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color:rgb(254, 160, 10);
  border: none;
}
